.header {
  background: #333;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: center;
}

.ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.li {
  margin: 0 1rem;
}

.a {
  color: white;
  text-decoration: none;
}

.active a {
  text-decoration: underline;
}
